
body {
  font-family: system-ui;
  background-color: #f3f2f8;
  width:100%;
  overflow: hidden;
}
a {
  text-decoration: none;
}

-webkit-touch-callout: none; /* Hides annoying share menu */

/* View transitions -- not part of gestures, but a cool html/css feature
   They make page transitions animate for that polished mobile look
   Copypaste from https://github.com/bramus/view-transitions-demos
 */

@view-transition {
  navigation: auto;
}
::view-transition {
  background: black;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.3s;
}

:root[data-transition="push"] {
  &::view-transition-old(root) {
    animation-name: fade-out;
  }
  &::view-transition-new(root) {
    animation-name: slide-in;
  }
}
:root[data-transition="pop"] {
  &::view-transition-old(root) {
    animation-name: slide-out;
  }
  &::view-transition-new(root) {
    animation-name: fade-in;
  }
}
@keyframes slide-in {
  from {
    translate: 100vw 0;
  }
}
@keyframes slide-out {
  to {
    translate: 100vw 0 ;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(root) {
    animation-duration: 0s;
  }
}
